<div class="header-exp">
  <svg class="pull-left" ui-sref="home" fill="#000000" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
    <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/>
    <path d="M0-.5h24v24H0z" fill="none"/>
</svg>

<h2 ui-sref="home">Joe Brown<small> Web Developer</small></h2>
</div>

<div class="exp-cont">
  <h3 class="text-center">Podium June 2016 - Nov. 2016</h3>
  <h4>Regional Director of Sales</h4>
<p>

Responsible for net new accounts in given territory.  Educated and coached businesses in the automotive space on the role online reviews play in their customers buying process.  Showcased metrics and customer testomonials to dealership GMs, Owners, and Marketing Directors.

<ul>
  <li>Closed a large 8 location deal in my first month</li>
  <li>Over my short time there I closed several large deals including a 2k MRR deal the last day of September 2016</li>
</ul>
</p>

  <h3 class="text-center">BambooHR Aug. 2012 – June 2016</h3>
  <h4>Senior Account Executive</h4>
<p>

Consulted SMBs to determine best practices for managing HR data given their current circumstances and trajectory.  Built value in a consultative manner, and used "challenger" methods where appropriate.  Coached HR professionals on automating the operational, improving culture, and elevating their role within the organization.  Detailed demonstrations for Managers and C-Level Executives.  Closing new business.

<ul>
<li>Achieved roughly 130% of quota over 4 years</li>
<li>Was responsible for closing 10% of BambooHR’s MRR as of April 2015</li>
<li>Always in the top 10% in revenue</li>
<li>Started standing desk revolution</li>
</ul>
</p>

<h3 class="text-center">Education</h3>
<h4 class="text-center">DevMountain  August 2016 - December 2016</h4>
<p>

 DevMountain is an intense 16 week web development bootcamp.  Students are immersed in the latest technologies applicable to real world web development through a thoughtful curriculum and coaching by experienced industry experts.

<ul>
<li>HTML5</li>
<li>CSS3</li>
<li>Javascript</li>
<li>Angularjs</li>
<li>Nodejs</li>
<li>SQL</li>
<li>GitHub</li>
</ul>
</p>

<h3 class="text-center">Projects</h3>
<h4>Full Stack Ecommerce</h4>

<div class="row">
    <div class="col-md-3 thumbnail">
        <img src="./img/ecomfull.png" alt="website image">
        <div class="caption text-center">
          Used a SEAN stack (SQL, Express, Angular, Node).  Built a RESTful API using Node and Express.
        </div>
    </div>
    <div class="col-md-3 thumbnail">
        <img src="./img/shop.png" alt="website image">
        <div class="caption text-center">Used Angular data binding and ui router.  There is also an admin page for the update and delete to round out full CRUD. </div>
    </div>
    <div class="col-md-3 thumbnail">
        <img src="./img/customrequestmobile.png" alt="website image">
        <div class="caption text-center">Mobile responsive.</div>
    </div>
    <div class="col-md-3 thumbnail">
        <img src="./img/customrequest.png" alt="website image">
        <div class="caption text-center">Sends custom request to the database.</div>
    </div>
</div>

</div> <!-- main container -->
