<div class="header-exp">
  <svg class="pull-left" ui-sref="home" fill="#000000" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
    <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/>
    <path d="M0-.5h24v24H0z" fill="none"/>
</svg>
<h2 ui-sref="home">Joe Brown<small> Web Developer</small></h2>
</div>

<div class="hob-container">
<h3 class="text-center">Family</h3>
  <p>First and foremost- Family man.</p>
<h3 class="text-center">Pedal</h3>
  <p>Love riding bikes on the local trails.  Love Utah!</p>
<h3 class="text-center">Shred The Gnar</h3>
  <p>Need for speed.  I've skied my whole life and go 100% about 86% of the time.  Getting old :).</p>
<h3 class="text-center">Read</h3>
  <p>Always reading.  Some of my faves include The Old Man and the Sea<small> -Ernest Hemmingway</small>, 1984<small> -George Orwell</small>, and Desert Solitare<small> -Edward Abbey.</p>
<h3 class="text-center">Cook</h3>
  <p>Nothing soothes the soul more than enjoying a delicious, nutritious, and hearty meal with friends and family.  Cooking is a way of life!</p>

</div>
