<div class="header">
  <div class="title">
    <h2>Joe Brown<small> Web Developer</small></h2>
      <div class="prof-img container img-responsive">
      </div>
 </div>
</div>
<main>
<div class="container-fluid home-txt">
<p>

Thanks for visiting!  I'm a budding web developer with a passion for everything Javascript.  The majority of my professional experience has been in software sales where I have tuned my communication, organizational, and marketing skills.  Why am I not continuing that path you might ask...?  In short, it is not my passion.

</p>

 </div>

  <div class="skills container">
    <div class="row">
      <div class="col-md-2 col-sm-6 text-center">
        <i class="devicon-html5-plain-wordmark"></i>
      </div>
      <div class="col-md-2 col-sm-6 text-center">
        <i class="devicon-css3-plain-wordmark"></i>
      </div>
      <div class="col-md-2 text-center">
        <i class="devicon-javascript-plain"></i>
      </div>
      <div class="col-md-2 col-sm-6 text-center">
        <i class="devicon-github-plain"></i>
      </div>
      <div class="col-md-2 col-sm-6 text-center">
        <i class="devicon-nodejs-plain-wordmark"></i>
      </div>
      <div class="colmds-2 text-center">
        <i class="devicon-postgresql-plain-wordmark"></i>
      </div>
    </div>
  </div>

  <div class="container">
  <div class="col-sm-6 exp-link" ui-sref="experience">Experience/Projects</div>
  <div class="col-sm-6 hob-link" ui-sref="hobbies">Hobbies/Interests</div>
  </div>
</main>
